* {
  padding: 0;
  margin: 0;
}

.main {
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar {
  width: auto;
  height: 65px;
  text-align: center;
  position: sticky;
  box-shadow: 0 0 10px 0 rgb(184, 171, 171);

}

.heading {

  font-size: 30px;
  font-weight: 600;
  padding-top: 15px;
  margin: auto;
}

.counter {
  padding-top: 40px;
  height: 30vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

}

.value {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 15px;
}

.btn {
  display: flex;
  width: 100px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.btn1 {
  height: 40px;
  width: 40px;
  padding: 10px;
  margin: auto;
  background-color: rgb(147, 145, 215);
}

.input {
  margin-bottom: 30px;
}

label {
  font-size: 20px;
}

input {
  height: 30px;
  width: 70px;
  font-size: 20px;
  ;
}

.resetbtn {
  font-size: 17px;
  font-weight: 500;
  height: 60px;
  width: 70px;
  padding: 10px;
  margin: auto;
  background-color: rgb(147, 145, 215);
}