.stepper-container {
    text-align: center;
    padding: 20px;

}

.stepper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-bottom: 5px;
}

.active .circle {
    background-color: green;
    color: white;
    border-color: green;
}

.step p {
    margin-top: 5px;
}

.progress-line {
    width: 200px;
    height: 3px;
    background-color: lightgray;
    position: absolute;
    top: 15px;
    left: 30%;
    transform: translateX(50%);
}

.completed {
    background-color: green;
}

.stepper-buttons button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background-color: #ccc;
    cursor: pointer;
}

.stepper-buttons button:disabled {
    background-color: #f0f0f0;
    cursor: not-allowed;
}

.stepper-buttons button:not(:disabled) {
    background-color: #007bff;
    color: white;
}

h3 {
    color: green;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-bottom: 5px;
    cursor: pointer;
    /* Add cursor pointer */
}

.active .circle {
    background-color: green;
    color: white;
    border-color: green;
}