.todo-app {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-position: inside;
  font-size: 25px;
}

input {
  padding: 10px;
  width: 300px;
  margin-bottom: 20px;
}

.filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

button {
  margin: 5px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}